body {
    margin:0;
    padding:0;
}

nav{
    border-bottom: 1px solid black;
    background-color: coral;
    padding: 16px;
}

nav a{
    color:white;
    text-decoration:none;
}

header h1{
    color: green;
}

h2{
    font-weight:bold;
}

.recipes{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-row-gap:50px;
    margin-top:50px;
}

.recipes a{
    color:green;
    text-decoration:none;
}

img {
    height:200px;
    display: block;
}

footer{
    padding: 24px 0;
    background-color: green;
    color: white;
}

.mainclor{
    color:green;
}

table{
    border-collapse: collapse;
}

table th, table td{
    padding:8px 12px;
}

table th{
    background: color #f2f2f2;
}


header{
    color:green;
}